.module .recordlist {
    --typo3-recordlist-padding-y: 4px;
    --typo3-recordlist-padding-x: 6px;
}
.module .recordlist .table {
    --typo3-table-padding-y: 4px;
    --typo3-table-padding-x: 6px;
}
.module .recordlist .btn {
    --typo3-btn-padding-y: 4px;
    --typo3-btn-padding-x: 6px;
}
