:root {
  --typo3-spacing: 0.75rem;
}

.nav {
  --typo3-nav-link-padding-y: 0.5rem;
  --typo3-nav-link-padding-x: 0.75rem;
}

.recordlist {
  --typo3-recordlist-padding-y: 4px;
  --typo3-recordlist-padding-x: 6px;
}

.module {
    --typo3-input-padding-y: 4px;
    --typo3-input-padding-x: 6px;
    --pagemodule-grid-spacing: 6px;
    --pagemodule-element-spacing: 6px;
}
.module .table {
    --typo3-table-padding-y: 4px;
    --typo3-table-padding-x: 6px;
}
.module .btn {
    --typo3-btn-padding-y: 4px;
    --typo3-btn-padding-x: 6px;
}
.module .recordlist {
    --typo3-recordlist-padding-y: 4px;
    --typo3-recordlist-padding-x: 6px;
}
.module .panel {
    --typo3-panel-padding-y: 4px;
    --typo3-panel-padding-x: 6px;
}
.module .form-section {
  --typo3-form-section-padding-y: 0.5rem;
  --typo3-form-section-padding-x: 0.5rem;
}

.treelist,
.treeline-container {
  --treelist-item-line-height: 18px; /* 24px */
}
